<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes.mes_boot.system.company.mapper.CompanyMapper">
    <select id="companySelectAll" resultType="com.mes.mes_boot.system.company.dto.CompanyDto">
        SELECT id
             , code
             , name
             , is_active
             , description
             , created_at
             , updated_at
        FROM companies
        WHERE type = #{type}
    </select>

    <select id="companySelect" resultType="com.mes.mes_boot.system.company.dto.CompanyDto">
        SELECT id
        , code
        , name
        , is_active
        , description
        , created_at
        , updated_at
        FROM companies
        WHERE 1 = 1
        <if test="company_idx != null and company_idx != ''">
            AND id = #{company_idx}
        </if>
        <if test="company_code != null and company_code != ''">
            AND code = #{company_code}
        </if>
    </select>
</mapper>